.App {
    width: 100vw;
    height: 100vh;
    padding: 0;
    transition: all ease-in-out 0.5s;
}

.Light {
    background-color: #F2F2F2;
    color: #333333;
}

.Dark {
    background-color: #333333;
    color: #F2F2F2;
}

.links {
    transition: all ease-in-out 0.5s;
}

.links.Dark img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.header h1 {
    overflow: hidden;
    border-right: .1em solid orange;
    white-space: nowrap;
    margin: 25px auto 0;
    width: 15.75em;
    animation:
            typing 4s steps(40, end),
            blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.headshot {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.headshot img {
    display: inline;
    width: 250px;
}

.links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.links img {
    margin: 10px;
}

.theme-changer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 10px;
    padding-right: 10px;
}

.theme-changer p {
    position: absolute;
    top: 0.125em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.labelDark {
    margin-left: 0.3em;
    color: #F2F2F2;
}

.labelLight {
    margin-left: 1.375em;
}

.theme-changer input[type=checkbox] {
    display: none;
}

.theme-changer label {
    background-color: #E0E0E0;
    border: 2px solid #4F4F4F;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 48px;
    height: 18px;
}

.theme-changer label::after {
    background-color: #333333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 3px;
    transition: all ease-in-out 0.3s;
    width: 12px;
    height: 12px;
    content: '';
}

.theme-changer input[type=checkbox]:checked ~ label {
    background-color: #4F4F4F;
    border-color: #E0E0E0;
}

.theme-changer input[type=checkbox]:checked ~ label::after {
    background-color: #F2F2F2;
    transform: translateX(30px);
}

.nav-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    transition: all ease-in-out 0.5s;
}

button {
    width: 200px;
    height: 75px;
    margin: 10px;
    border: 3px solid #4F4F4F;
    border-radius: 25px;
    font-size: 24px;
    color: #333333;
    background-color: #E0E0E0;
}

.Dark button {
    color: #F2F2F2;
    background-color: #4F4F4F;
    border-color: #E0E0E0;
}

@media (max-width: 700px) {
    .header h1{
        font-size: 16px;
        width: 16.50em;
    }

    .headshot {
        width: 150px;
        height: 150px;
    }
    .headshot img {
        width: 150px;
    }

    button {
        width: 100px;
        height: 50px;
        font-size: 12px;
        border-radius: 15px;
        border-width: 2px;
    }
}